/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary: #3D0000;
  --secondary: #950101;
  --background: #FAFAFA;
  --text: #000000;
  --accent: #FF0000;
}

body {
  
  font-family: 'Segoe UI', Arial, sans-serif;
  background-color: var(--background);
  color: var(--text);
  line-height: 1.6;
}

/* Header */
header {
  background-color: var(--primary) ;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 1.4rem;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s;
}

nav a:hover {
  color: #bfdbfe;
}

/* Hero Section */
.hero {
  text-align: center;
  background: linear-gradient(to right, var(--primary), var(--secondary));
  color: white;
  padding: 4rem 2rem;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.hero button {
  background-color: white;
  color: var(--primary);
  border: none;
  border-radius: 8px;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}